body {
  background-color: #f3ecd7;
}

#content {
  width: 80%;
  margin: 0 auto;
  display: flex;
}

#navigation {
  width: 100%;
  float: left;
  padding-bottom: 2%;
}

#navigation img {
  display: block;
  float: none;
  width: 10%;
  margin-left: auto;
  margin-right: auto;
}

#logo-link {
  display: contents;
}

#navigation #navbar {
  padding: 0;
  height: auto;
}

footer {
  left: 0;
  bottom: 0;
  background-color: #6b0902;
  color: white;
  text-align: center;
  display: grid;
  margin: 0 auto;
  width: 80%;
  font-family: 'Roboto', sans-serif;
  /*margin: 0 -9999rem;
  padding: 0.25rem 9999rem;*/
}

/*
Logo Color Hex codes:
Dark Red (outline color): #6b0902
Light Red (fill color): #e01a11
Yellow (text color): #fade09
Gold/Dark Yellow: #e89d03
Shirt Color (tan): #d2c093
Hat Secondary Color (off-white): #f3ecd7
Hat Color: #ffffff*/
