body {
  background-color: #f3ecd7;
}

#content {
  width: 80%;
  margin: 0 auto;
  display: flex;
}

#navigation {
  width: 100%;
  float: left;
  padding-bottom: 2%;
}

#navigation img {
  display: block;
  float: none;
  width: 10%;
  margin-left: auto;
  margin-right: auto;
}

#logo-link {
  display: contents;
}

#navigation #navbar {
  padding: 0;
  height: auto;
}

footer {
  left: 0;
  bottom: 0;
  background-color: #6b0902;
  color: white;
  text-align: center;
  display: grid;
  margin: 0 auto;
  width: 80%;
  font-family: 'Roboto', sans-serif;
}
