.menu-item {
  display: inline-flex;
  flex-flow: wrap;
  padding: 1em;
}

.menu-item img {
  align-self: flex-start;
  width: 100%;
}

.menu-item h1 {
  font-family: 'Bree Serif', serif;
  margin: 0;
  padding-bottom: 1%;
  font-size: 3em;
}

.menu-item-content p {
  margin: 0 auto;
  text-align: justify;
  font-family: 'Roboto', sans-serif;
}

.menu-item-content ul {
  display: inline;
  list-style-position: inside;
}

.menu-item-content li {
  margin: 0 auto;
  text-align: justify;
  font-family: 'Roboto', sans-serif;
  line-height: 2em;
}

.menu-row {
  width: 100%;
  flex-direction: column;
}

#content {
  display: flex;
}
