.navbar {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  background-color: #6b0902;
  width: 80%
}

.navbar li {
  float: left;
  width: 20%;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  

    font-family: 'Roboto', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
}

.navbar li a:hover {
  background-color: #e01a11;
}

.navbar .active {
  background-color: #e01a11;
}
